* {
  box-sizing: border-box;
  color: #333;
  font-family: "Poppins", serif;
  color: #2C2C34;
}

body {
  background-color: #494850;
}

#root {
  margin: 10px 140px 140px;
}

h1 {
  color: white;
  font-family: "Poppins", serif;
}

p, a {
  font-size: 10px;
}

.post-title {
  font-weight: bold;
}

.post-container {
  margin: 2px;
  padding: 8px;
  background-color: white;
  border-radius: 2px;
}

.main-header {
  justify-content: center;
  display: flex;
}

.loading {
  justify-content: center;
  display: flex
}

button {
  border: none;
  background: none;
  font-size: 10px;
  cursor: pointer;
  padding-left: 0px;
}

li {
  list-style: none;
}

.comment {
  margin: 10px;
  padding: 20px;
  background-color: #D8D8F6;
}

.hide-comments {
  display: none;
}

.active {
  font-weight: bold;
}

.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: white;
}